version: "3.8"
services:
  envoy:
    image: envoyproxy/envoy:v1.31-latest
    ports:
      - "8080:8080"
      - "9901:9901"
    volumes:
      - ./envoy/envoy.yaml:/etc/envoy/envoy.yaml:ro
      - ./envoy/envoy.pb:/etc/envoy/envoy.pb:ro
    command: ["/usr/local/bin/envoy","-c","/etc/envoy/envoy.yaml","-l","info"]
